name: peft_env
channels:
  - pytorch
  - nvidia
  - conda-forge
  - defaults
dependencies:
  - python=3.11
  - pip
  - pip:
    # 1. PyTorch (explicitly request latest with CUDA 12.1)
    - torch>=2.6.0 --index-url https://download.pytorch.org/whl/cu121
    - torchvision --index-url https://download.pytorch.org/whl/cu121
    - torchaudio --index-url https://download.pytorch.org/whl/cu121
    
    # 2. Unsloth
    - "unsloth[colab-new] @ git+https://github.com/unslothai/unsloth.git"
    
    # 3. Inference
    - vllm==0.6.4.post1
    
    # 4. Utils
    - transformers==4.51.3
    - datasets
    - pandas
    - wandb
    - scipy
    - trl
    - peft
    - accelerate
    - protobuf