model_name: "unsloth/Qwen2.5-0.5B-Instruct"
output_dir: "/app/models/draft"
data_file: "data/cod_distilled_data.jsonl"
load_in_4bit: false
max_seq_length: 2048
# Training Arguments
per_device_train_batch_size: 8
gradient_accumulation_steps: 2
learning_rate: 2.0e-4
max_steps: 60
optim: "adamw_8bit"
logging_steps: 1
output_dir_checkpoints: "checkpoints_draft"